@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #F2F2F2;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);;
}

.main-page {
  flex-grow: 1;
  text-align: center;
  background-color: #ffffff;
}

.hotels-page {
  flex-grow: 1;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button--primary {
  color: #ffffff;
  background-color: #756257;
}

.button--submit {
  color: #ffffff;
  background-color: #83B3D3;
}

.button--reset {
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  text-transform: none;
}

.button--more {
  margin-bottom: 30px;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.page-header .button {
  font-size: 16px;
  line-height: 20px;
}
.navigation,
.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation .logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  color: inherit;
  text-decoration: none;
}

.navigation-search,
.navigation-favorites {
  padding: 25px 12px;
}

.navigation-favorites {
  margin-right: 20px;
}

.main-promo {
  height: 485px;
  background-color: #fff;
  background-image: url("../img/background/index-background.jpg");
}

.advantages-list,
.advantages-sublist {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-inner {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-sublist .advantages-item-title {
  color: #000000;
}

.advantages-subitem:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter--light {
  background-color: #ffffff;
  background-image: none;
  color: #333333;
}

.newsletter .title {
  color: #ffffff;
}

.newsletter--light .title {
  color: #000000;
}

.newsletter input {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter .button {
  line-height: 26px;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.page-footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-link {
  padding: 15px;
  display: block;
}

.first-screen {
  padding-top: 35px;
  padding-bottom: 83px;
  color: #ffffff;
  background-image: url("../img/background/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-screen h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
}

.first-screen .container {
  width: 1060px;
}

.breadcrumds-list {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-form fieldset {
  padding: 0;
}
.filter-form fieldset:not(.filter-item-price) {
  width: 150px;
}

.filter-item-price {
  width: 287px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-item-buttons {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter label {
  font-size: 18px;
  line-height: 23px;
}

.filter-item-price label {
  color: rgba(255, 255, 255, 0.2);
}

.filter input[type="number"] {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
}
.results-list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style-type: none;
}

.results select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.results-item-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.results-item {
  font-size: 18px;
  line-height: 23px;
}

.results-item-title a {
  color: inherit;
  text-decoration: none;
}

.results-item  .button {
  font-size: 16px;
  line-height: 21px;
}

.results-item-rating {
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  font-size: 20px;
  line-height: 26px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  padding: 15px 22px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
}

.count-form {
  font-size: 18px;
  line-height: 23px;
}

.catalog-sort,
.pagination-nav {
  display: flex;
  justify-content: space-between;
}

.pagination-nav {
  align-items: center;
}

.results {
  width: 1060px;
  padding-top: 44px;
  margin: 0 auto;
}

.results .title {
  margin: 0;
}

.results-view-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.results-view-link {
  display: block;
  width: 16px;
  height: 14px;
  padding: 17px;
}

.newsletter {
  text-align: center;
}
